%h2 dashboard

= form_for @deck do |f|
  = f.text_field :name, :placeholder => 'create a new deck'
  
.decks
  %h2 decks
  - @decks.each do |deck|
    = div_for deck do
      = link_to deck.name, deck
